<nav class="navbar navbar-dark bg-dark justify-content-between">
  <div class="container-fluid">
    <a href="" class="navbar-brand">
      <i class="fa-solid fa-brazilian-real-sign"></i> Coins History
    </a>
  </div>

</nav>
<div class="container">
  <div class="title">
    <h1>Histórico de cotação</h1>
  </div>
  <div class="row">
    <form
      class="row gy-2 gx-3 align-items-end justify-content-between form dropdown"
      (ngSubmit)="getValues()"
      [formGroup]="momentForm"
      #formDir="ngForm">
      <div class="content-input">
        <div class="col-auto input-form">
          <label for="validationCustom04" class="form-label">Moeda:</label>
          <select
            class="form-select"
            id="validationCustom04"
            name="simbolo"
            required
            [(ngModel)]="coin.simbolo"
            formControlName="coins">
            <option  value=""></option>
            <option
              value=""
              [ngValue]="simbolCoin.simbolo"
              *ngFor="let simbolCoin of simbolCoins">
              {{ simbolCoin.simbolo}} - {{simbolCoin.nomeFormatado}}
              <img src="../../../assets/img/brazil.svg" alt="">
            </option>
          </select>
          <div
            class="text-danger"
            *ngIf="coins.invalid && coins.touched">
            <small class="">*Campo obrigatorio!</small>
          </div>
        </div>
        <div class="col-auto input-form">
          <label
            class="form-label"
            for="validationCustom01">
            Data Inicial:
          </label>
          <input
            name="dateInitial"
            type="date"
            class="form-control"
            id="validationCustom01"
            value=""
            required
            [(ngModel)]="coin.dateInitial"
            formControlName="initialDt">
          <div
            class="text-danger"
            *ngIf="initialDt.invalid && initialDt.touched">
            <small class="">*Campo obrigatorio!</small>
          </div>
        </div>
        <div class="col-auto input-form">
          <label
            class="form-label"
            for="validationCustom02">
            Data Final:
          </label>
          <input
            class="form-control"
            name="dateFinal"
            type="date"
            value=""
            required
            [(ngModel)]="coin.dateFinal"
            formControlName="finalDt">
          <div
            class="validation-erro"
            *ngIf="finalDt.invalid && finalDt.touched">
            <small class="text-danger">*Campo obrigatorio!</small>
          </div>
        </div>
        <div class="content-btn">
          <div class="col-auto btn-form">
            <button
              class="btn btn-danger"
              type="button"
              (click)="reset()">
              Limpar
            </button>
          </div>
          <div class="col-auto btn-form">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="momentForm.invalid">
              Consultar Dados
            </button>
          </div>
        </div>
      </div>

    </form>
    <div class="row">
      <div class="col-md-4 input-filter">
        <label
        for="validationCustom02" class="form-label">Cotação de compra:</label>
        <input
          name="searchCompra"
          type="text"
          class="form-control inputTable"
          value=""
          mask="0.000000"
          [(ngModel)]="searchCompra"
          >
      </div>
      <div class="col-md-4 input-filter">
        <label for="validationCustom02" class="form-label">Cotação de venda:</label>
        <input
          name="searchVenda"
          name="dateFinal"
          type="text"
          class="form-control inputTable"
          value=""
          mask="0.000000"
          [(ngModel)]="searchVenda">
      </div>
      <div class="col-md-4 input-filter">
        <label for="validationCustom02" class="form-label">Data e hora da cotação:</label>
        <input
          name="searchText"
          type="datetime"
          class="form-control inputTable"
          value=""
          mask="0000-00-00 00:00:00.0000"
          [(ngModel)]="searchText">
      </div>
    </div>
    <div class="table-overflow">
      <table class="table table-striped">
        <thead >
          <tr>
            <th class="tabela-Th" scope="col">
              Cotação  de compra:
            </th>
            <th class="tabela-Th" scope="col">
              Cotação  de venda:
            </th>
            <th class="tabela-Th" scope="col">
              Data e hora da cotação:
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let historiCoin of historiCoins | filter:searchText | filter:searchVenda | filter:searchCompra">
            <td class="tabela-Th">{{ historiCoin.cotacaoCompra }}</td>
            <td class="tabela-Th">{{ historiCoin.cotacaoVenda }}</td>
            <td class="tabela-Th">{{ historiCoin.dataHoraCotacao }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="loading" *ngIf="loading">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>



